body > #root > div{
  height:100vh;
}

/* Body Style */
body {
  background-color: #2a5c9a;
}

/* Main application color */
.main-container {
  background-color: #c5d8ef;
}

/* Header Styles */
#header{
  background-image: linear-gradient( #2a5c9a, #6f9fd8);
}


/*   Navigation Bar   */
/* #333333; */
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient( #6f9fd8, #c5d8ef);
  display: flex;
  justify-content: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8cb1df;
}

.selected{
  background-color: #8cb1df;
}


/*  Input Box and Button  */
#city-input {
  border: groove;
  border-radius: 5%;
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

#city-btn {
  background-color: lightgray;
  border: groove;
}



/* Chart div --> This adds the height */
#charts {
  position: relative;
  height: 70vh;
  width: 100%;
}

.charts-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 150%;
}

.sun-icon {
  animation: sunAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes sunAnimation{
  0% { transform: rotate(-200deg); }
  100% {transform: rotate(0) }
}