
/* Body Style */

body {
  background-color: #c5d8ef;
}


/* Header Styles */
#header{
  background-image: linear-gradient( #2a5c9a, #6f9fd8);
}


/*   Navigation Bar   */
/* #333333; */
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient( #6f9fd8, #c5d8ef);
  display: flex;
  justify-content: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8cb1df;
}

.selected{
  background-color: #8cb1df;
}
